{% extends 'starter-page.html' %}
{% load static %}

{% block body %}

      <br><br><br>
     <table class="table table-info container">
       <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Subject</th>
          <th>Message</th>
          <th>Action</th>
       </tr>


    {% for x in allcontacts %}
        <tr>
          <td>{{ x.name }}</td>
          <td>{{ x.email }}</td>
          <td>{{ x.subject }}</td>
          <td>{{ x.message }}</td>
          <td>
              <a href="/deleteContact/{{ x.id }}" class="btn btn-danger">DELETE</a>
              <a href="/editContact/{{ x.id }}">EDIT</a>

          </td>
       </tr>
    {% endfor %}

     </table>

{% endblock %}